*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header{
    background-color: #2C3F51;

}

.container-head{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .left h2{
    font-size: 20px;
    color: white;

}

header .right button{
    margin-top: 20px;

}
