*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

header{
    background-color: #2C3F51;

}



header .left h2{
    font-size: 20px;
    color: white;

}

header .right button{
    margin-top: 20px;

}

.img img{
    height: 240px;
    width: 100%;
}

.green , .green-2{
    background-color: #1abc9c;
}


.white img{
    height: 370px;

    border-radius: 5px;
    width: 100%;
    margin: 0 auto 20px;
}
