body{
    padding-top: 70px;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}


nav{
    background-color: #2C3F51;
}

}

header .left h2{
    font-size: 20px;
    color: white;

}


#img{
    height: 240px;
    width: 100%;
    object-fit: contain;
    margin: 0 auto;
}

.green , .green-2{
    background-color: #1abc9c;
}


.white img{
    height: 370px;

    border-radius: 5px;
    width: 100%;
    margin: 0 auto 20px;
    object-fit: cover;
}

.blu-2{
    background-color: #2C3F51;
}

.black{
    background-color: #1A252F;
}
